<div class="container-fluid banner" style="background: black no-repeat center;">
  <video
    autoplay
    muted
    loop
    preload="true"
    id="myVideo"
    (loadeddata)="startPlayingVideo()"
    (playing)="handleVideoLoaded()"
    (ended)="handleVideoEnded(this)"
  >
    <source src="../../assets/videos/banner.mp4" type="video/mp4" />
    Your browser does not support HTML5 video.
  </video>
  <div class="container text-white">
    <div class="row">
      <div class="col-lg-12 banner-info">
        <div class="row banner-content mt-5">
          <div class="col-lg-12 banner-content">
            <div class="wrapper-1 d-inline-block h-100">
              <div class="social-links-wrapper h-100" data-aos="zoom-in-up">
                <div>
                  <span class="scroll-down font-2">Scroll Down</span>
                </div>
              </div>
            </div>
            <div class="wrapper-2 d-inline-block">
              <div class="custom-border-2">
                01
              </div>
            </div>
            <div class="wrapper-3 d-inline-block ml-1" data-aos="zoom-out-up">
              <span class="line sm horizontal bg-white"></span>
              <h4
                class="font-2 d-inline-block ml-1"
                style="font-family: inherit;"
              >
              上海瑞东文化传播工作室
              </h4>
              <br />
              <img class="banner-image" src="../../assets/img/banner.png" />
              <a
                class="btn custom-border horizontal font-1 letter-spacing text-white white"
                >Know More</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid first">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <div class="title" data-aos="fade-up">
          <!-- <span class="d-inline-block line md ml-3"></span> -->
        </div>
        <div class="who">
          <h4
            class="subtitle"
            data-aos="fade-up"
            style="font-size: 400%;
    letter-spacing: 12px;
    font-family: Roboto, sans-serifinitial;
    font-weight: bold;
    text-align: center;"
          >
            业务介绍
          </h4>
        </div>
        <div class="about" style="text-align: center; margin-bottom: 6%;">
          <h2
            class="d-inline-block align-middle"
            style=" font-family: Roboto, sans-serifinitial; padding-top: 30px;"
          >
            本公司主要从事二维中期动画制作，软件开发。
          </h2>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" data-aos="flip-left">
        <div class="imgone">
          <img
            src="../../assets/img/china_map.png"
            alt="images"
            style="width: 80%; "
          />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- what can we product -->
<div class="container-fluid" style="margin-bottom: 8em;">
  <div class="container-background">
    <div class="container">
      <div class="col-lg-12 col-md-12" style="margin-bottom: 4.5em;">
        <div
          class="col-lg-12"
          style="margin-bottom: 5%;
                 margin-top: 5%;"
        >
          <p
            style="    font-size: 400%;
                        text-align: center;
                        color: white;
                        font-family: Roboto, sans-serifinitial;
                        font-weight: bold;
                        letter-spacing: 4px;"
          >
            软件开发介绍
          </p>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <p
              style="   color: white;
                        text-align: center;
                        font-size: 22px;
                        font-weight: bold;"
            >
            擅长图片处理、人脸识别、APP应用开发。在CMS和CRM开发方面拥有丰富的经验。
            </p>
            <div class="c-1">
              <img
                src="../../assets/img/programming_language.png"
                style=" width: 107%; "
              />
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12" style="margin-top: -5%;">
              <p
                style="color: white;
                  font-family: Roboto, sans-serifinitial;
                  font-size: 333%;
                  margin-top: 12%;
                  margin-bottom: -22%;
                  text-align: center;
                      font-weight: bold;"
              >
              二维动画介绍
              </p>
              <p
                style="font-size: 20px;
                    margin-top: 24%;
                    font-family: Roboto, sans-serif; 
                    color: white;"
              >
              本公司具有多年的二维中期MOHO动画制作经验，曾参与多部央视二维动画的中期制作以及国内多家教育机构MOHO方向课件动画制作。
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="best">
  <p
    style="text-align: center;
            font-family: Roboto, sans-serifinitial;
            font-size: 400%;
            font-weight: bold;
            letter-spacing: 11px;
            margin-top: 4%;"
  >
    Contact Us
  </p>
</div>

<div class="container der">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <div class="serviceBox" style="width: 100%;">
        <h3 class="title">加入我们</h3>
        <p class="description">
          　　也许您是一位资深的工作人员，这里会提供无数的机会和实现价值的平台。
        </p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <div class="serviceBox" style="width: 100%;">
        <h3 class="title">联系信息</h3>
        <p class="description">
          Copyright 2020 上海麒然科技中心 All Rights Reserved.
          联系电话 微信: 13804972497
        </p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <div class="serviceBox" style="width: 100%;">
        <h3 class="title">UI/UX Design</h3>
        <p class="description">
          <a href="https://beian.miit.gov.cn">沪ICP备2020027340号-1</a>
          <a href="http://wap.scjgj.sh.gov.cn/businessCheck/verifKey.do?showType=extShow&serial=9031000020200410145345000005705124-SAIC_SHOW_310000-B62CFF11C36912ADE053614F1BAC9CAF628&signData=MEUCIQCCpBDWuc3xYww0rKdHwjvRBYuwvl97HQh/nS87ZuR/iAIgC49RK9GtDyfSmX0URXxbHNJlojgBnuipgDwFSHdgEUc="><img src="../../assets/img/ba.jpg"></a>
        </p>
      </div>
    </div>
  </div>
</div>
